body, html {
    width: 90%;
    color: hsl(0, 0%, 100%, 0.5);
}

main div{
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.flex-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content {
    font-size: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 80px auto 50px;
    grid-template-areas:
        "a a a"
        "c e d"
        "b b b";
    height: 80vh;
    width: 50%;
    margin: 0 auto;
}

.header {
    grid-area: a;
    background-color: #C14F4F;
    padding-top: 30px;
}

.footer {
    grid-area: b;
    background-color: #C14F4F;
    padding-top: 10px;
}

.left {
    grid-area: c;
    background-color: #C28282;
    padding-top: 120px;
}

.right {
    grid-area: d;
    background-color: #C28282;
    padding-top: 120px;
}

.middle {
    grid-area: e;
    background-color: #699EBD;
    padding-top: 120px;
}
